<html>

<head>
    <title>Walmart Deals</title>
    <!-- <link type="text/css" rel="stylesheet" href="/public/home.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha2256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script>
        function addToList() {
            var target = event.target || event.srcElement;
            var id = target.id;
            var price = id.salePrice;
            var myVar = target.parent();
            console.log(myVar);

            var params = {
                name: id,
                price: price
            };

            console.log(params);

            $.post("/myList", params, function (result) {
                if (result && result.success) {
                    $("#status").text("Success");
                } else {
                    $("#status").text("Error");
                }
            })
        }
    </script>
</head>

<body>
    <div class="ui secondary  menu">
        <a class="item" style="color:#1678c2; font-size:30px;" href="/">
            My Grocery List
        </a>
        <a class="item" href="/myList">
            My List
        </a>
        <div class="right menu">
            <a class="ui item" href="/pages/logout.html">
                Logout
            </a>
            <a class="ui item" href="login.html">
                Login/Signup
            </a>
        </div>
    </div>

    <div class="ui grid" style="margin-left:30px;">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= banana.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Banana</a>
                    <div class="description"> $
                        <%= banana.salePrice %>
                            <% if (result.rows[0].price.slice(1) > banana.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[0].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button id="Banana" class="ui primary button" onclick="addToList(this)" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= cereal.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Cereal</a>
                    <div class="description"> $
                        <%= cereal.salePrice %>
                            <% if (result.rows[1].price.slice(1) > cereal.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[1].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= peaches.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Peaches</a>
                    <div class="description"> $
                        <%= peaches.salePrice %>
                            <% if (result.rows[2].price.slice(1) > peaches.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[2].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= almondmilk.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Almond Milk</a>
                    <div class="description"> $
                        <%= almondmilk.salePrice %>
                            <% if (result.rows[3].price.slice(1) > almondmilk.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[3].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= rice.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Rice</a>
                    <div class="description"> $
                        <%= rice.salePrice %>
                            <% if (result.rows[4].price.slice(1) > rice.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[4].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= pasta.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Pasta</a>
                    <div class="description"> $
                        <%= pasta.salePrice %>
                            <% if (result.rows[5].price.slice(1) > pasta.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[5].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= potatoes.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Potatoes</a>
                    <div class="description"> $
                        <%= potatoes.salePrice %>
                            <% if (result.rows[6].price.slice(1) > potatoes.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[6].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= juice.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Juice</a>
                    <div class="description"> $
                        <%= juice.salePrice %>
                            <% if (result.rows[7].price.slice(1) > juice.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[7].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= tuna.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Tuna</a>
                    <div class="description"> $
                        <%= tuna.salePrice %>
                            <% if (result.rows[8].price.slice(1) > tuna.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[8].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= oreo.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Oreo</a>
                    <div class="description"> $
                        <%= oreo.salePrice %>
                            <% if (result.rows[9].price.slice(1) > oreo.salePrice) { %>
                                <span class="date" style="margin-left:25px; color:red;">New price:
                                    <%=result.rows[9].price%>
                                </span>
                                <%  }%>
                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:25px; margin-top:10px;">
                            Add to myList
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>