<html>

<head>
    <title>Walmart Deals</title>
    <!-- <link type="text/css" rel="stylesheet" href="/public/home.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script>
        function addToList() {
            var thingToAdd = $("#banana").html();


            var params = {
                thingToAdd: thingToAdd
            };

            console.log(params);

            $.post("/myList", params, function (result) {
                if (result && result.success) {
                    $("#status").text("Success");
                } else {
                    $("#status").text("Error");
                }
            })
        }
    </script>
</head>

<body>
    <h1>Walmart Deals</h1>
    <a href="/myList"> My Grocery List</a>
    <p>result:
        <%= result.rows %>
    </p>

    <div class="ui grid" style="margin-left:30px;">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= banana.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header" id="banana">Banana</a>
                    <div class="description"> $
                        <%= banana.salePrice %>
                            <% if (result.rows[0].price < banana.salePrice) { %>
                                <span class="date" style="margin-left:5px;">
                                    <%=result.rows[0].price%>
                                </span>
                                <%  }%>

                    </div>
                    <div class="meta">
                        <button class="ui primary button" onclick="addToList()" style="margin-left:15px;">
                            Add to myList
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= cereal.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Cereal</a>
                    <div class="description"> $
                        <%= cereal.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= peaches.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Peaches</a>
                    <div class="description"> $
                        <%= peaches.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= almondmilk.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Almond Milk</a>
                    <div class="description"> $
                        <%= almondmilk.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= rice.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Rice</a>
                    <div class="description"> $
                        <%= rice.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= pasta.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Pasta</a>
                    <div class="description"> $
                        <%= pasta.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= potatoes.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Potatoes</a>
                    <div class="description"> $
                        <%= potatoes.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= juice.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Juice</a>
                    <div class="description"> $
                        <%= juice.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= tuna.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Tuna</a>
                    <div class="description"> $
                        <%= tuna.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= oreo.mediumImage %>">
                </div>
                <div class="content">
                    <a class="header">Oreo</a>
                    <div class="description"> $
                        <%= oreo.salePrice %>
                            <button class="ui primary button" style="margin-left:5px;">
                                Add to myList
                            </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>