<html>

<head>
    <title>Walmart Deals</title>
    <link type="text/css" rel="stylesheet" href="/home.css">
    <!-- <script src="./public/apiCalls.js"></script> -->
</head>

<body>
    <h1>Walmart Deals</h1>
    <a href="/myList"> My Grocery List</a>
    <div id="container" style="
    column-count: 2;
    margin-left: 150px;
    margin-top: 50px;
">
        <table class="image" style="margin-bottom: 50px; border: solid black">
            <tr>
                <td>
                    <img src="<%= banana.mediumImage %>" alt="Banana">
                </td>
            </tr>
            <tr>
                <td class="caption">Banana $
                    <%= banana.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= cereal.mediumImage %>" alt="Cereal">
                </td>
            </tr>
            <tr>
                <td class="caption">Cereal $
                    <%= cereal.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= peaches.mediumImage %>" alt="Peaches">
                </td>
            </tr>
            <tr>
                <td class="caption">Peaches $
                    <%= peaches.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= almondmilk.mediumImage %>" alt="Almond milk">
                </td>
            </tr>
            <tr>
                <td class="caption">Almond milk $
                    <%= almondmilk.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= rice.mediumImage %>" alt="Rice">
                </td>
            </tr>
            <tr>
                <td class="caption">Rice $
                    <%= rice.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= pasta.mediumImage %>" alt="Pasta">
                </td>
            </tr>
            <tr>
                <td class="caption">Pasta $
                    <%= pasta.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= potatoes.mediumImage %>" alt="Potatoes">
                </td>
            </tr>
            <tr>
                <td class="caption">Potatoes $
                    <%= potatoes.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= juice.mediumImage %>" alt="Juice">
                </td>
            </tr>
            <tr>
                <td class="caption">Juice $
                    <%= juice.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= tuna.mediumImage %>" alt="Tuna">
                </td>
            </tr>
            <tr>
                <td class="caption">Tuna $
                    <%= tuna.salePrice %>
                </td>
            </tr>
        </table>
        <table class="image" style="margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="<%= oreo.mediumImage %>" alt="Oreo">
                </td>
            </tr>
            <tr>
                <td class="caption">Oreo $
                    <%= oreo.salePrice %>
                </td>
            </tr>
        </table>

    </div>

</body>


</html>